{% extends 'wbriksBackendBundle:Default:template.html.twig' %}
{% block title %}FDI (current US$) data{% endblock %}

{% block inline_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fdi-data').dataTable({
                "sDom": 'Wlfriptip',
                oColumnFilterWidgets: {
                    aiExclude: [ 2 ],
                    bGroupTerms: true
                }
            });
        });
    </script>
{% endblock %}

{% block menu_left %}
    {{ parent() }}
{% endblock %}
{% block main_content %}

    <div class="fdi indicator list">
        <h2>FDI, current US$</h2>
        <p>
            <a href="{{ path('wbriks_fdi_indicator_map') }}">View on map</a>
        </p>

        <div>
            <table id="fdi-data" class="display dataTable">
                <thead>
                <tr>
                    <th>Arrangement</th>
                    <th>Year</th>
                    <th>FDI, current US$</th>
                </tr>
                </thead>
                <tbody>
                {% if indicatorValues is not empty %}
                    {% for name, valueAry in indicatorValues %}
                        {% for year, value in valueAry %}
                            <tr>
                                <td>{{ name }}</td>
                                <td>{{ year }}</td>
                                <td align="right">{{ value | number_format }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}